apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: mongodb
    app: mongodb
  name: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      name: mongodb
  template:
    metadata:
      labels:
        name: mongodb
        app: mongodb
    spec:
      securityContext:
        fsGroup: 1001
        runAsUser: 1001
      containers:
      - image: bitnamilegacy/mongodb:5.0.24-debian-11-r20
        name: mongodb
        ports:
        - name: mongodb
          containerPort: 27017
        volumeMounts:
          - name: mongo-db
            mountPath: /bitnami/mongodb/data/db
      volumes:
        - name: mongo-db
          persistentVolumeClaim:
            claimName: mongo-storage